# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Python
__pycache__/
backend/__pycache__/
venv/
backend/venv/
.env

# Logs
*.log
frontend/*.log
backend/*.log

# IDEs
.vscode/
.idea/

# Binaries / Zips in root
*.zip
*.exe
*.bat
config.yml
cloudflared.exe
bore.exe
pinggy.log
cf.log
cf2.log
cf3.log
lh.log
lt2.log
lt_serverless.log
